body {
    overflow: hidden ;
    margin: 0;
    padding: 0;
    height: 100vh;
    background: #fff;
}

.wrapper {
    min-height: 100%;
    height: 100%;
    overflow-x: hidden;
    /*background : red !important;*/
}


.ui.attached.header.custom__header {
    padding: 0;
    border-bottom: none;
}

.ui.attached.header.custom__header  .menu {
   border-radius: 0;

}
/*.ui.attached.header.custom__header .menu .active.item {*/
/*    border-color: #21ba45;*/
/*}*/

/*.custom__header  .menu .active.item {*/
/*    color:  #21ba45;*/
/*}*/

.green-text {
    color: #21ba45;
}

.ui.grid.custom__main{
    margin: 0;
    height: calc(100% - 68px);
}

.left-sidebar, .right-sidebar, .main-content{
    background-color: #F1F1F1;
    height: 100%;
}

.ui.grid.custom__main .main-content {
    padding-left: 0;
    padding-right: 0;
}

.docs-list, .visit-block, .user-block {
    height: 100%;
}
.docs-list__content  ul {
    padding-left: 0;
}
.user-block .record, .user-block .history {
     height: calc(50% - 0.5rem);
}
.user-block .record {
    margin-bottom: 1rem;
}
.user-block .history .segment {
    padding: 0;
}

.docs-list__content, .visit-block__content, .history__content, .record__content {
    height: calc(100% - 40px);
    overflow-y: auto;
}

#alertArea {
    position: fixed;
    right: 15px;
    bottom: 14px;
    z-index: 100;
    overflow-y: auto;
    padding-top: 15px;
    max-width: 400px;
    max-height: 100%;
    background-color: transparent;
}

.ui.bulleted.list .list > .item:before,
.ui.bulleted.list > .item:before,
ul.ui.list li:before {
    display: none;
}

.ui.message > .close.icon {
    color: red;
}

.ui.message p {
    margin-top: 0;
    padding-right: 20px;
}

.like-input {
    margin: 0;
    outline: 0;
    -webkit-appearance: none;
    tap-highlight-color: rgba(255,255,255,0);
    line-height: 1.21428571em;
    padding: .67857143em 1em;
    font-size: 1em;
    background: #fff;
    border: 1px solid rgba(34,36,38,.15);
    color: rgba(0,0,0,.87);
    border-radius: .28571429rem;
    -webkit-box-shadow: 0 0 0 0 transparent inset;
    box-shadow: 0 0 0 0 transparent inset;
    min-height: 38px;
}

.custom-row {
    margin: 0 0 1em;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;

}

.custom-row__label {
    margin-bottom: 0;
    flex: 0 0 30%;
    font-weight: bold;

    padding-top: 0.678571em;
    padding-right: 1em;
    padding-bottom: 0.678571em;

    align-items: center;

    /*word-break: break-all;*/
    /*word-wrap: ;*/
}

.custom-row__input {
  flex: 1 0 60%;
}