body {
    overflow: hidden ;
    /* margin: 0; */
    /* padding: 0; */
    height: 100vh;
    background: #fff;

    /* font-weight: bold; */
}
 



.main {
    width: 100%!important;
    margin: 0 auto !important;
    padding: 0 !important;
}

.wrapper {
    min-height: 100%;
    height: 100%;
    overflow-x: hidden;
     padding-top: 0!important;
     padding-bottom: 0!important;
    /* background: #ffffff; */
    background : #21ba45 !important;
    /* background: #8DC748 !important; */
}

/* Scroll BAR Styling */

::-webkit-resizer {
  width: 4px;
  height: 0px;
  background-image: url('');
  background-repeat: no-repeat;
}

::-webkit-scrollbar {
  width: 4px !important;
}

#waves {
    z-index: 10;
    margin-top: 200px;
    width: 100%;

    /* position: absolute;
    bottom: 0;
    left: 0; */
    height: 50%;
}

.hero-block {
    position: absolute;
    top: 55px;
    left: 0;
    z-index: 20;
    width: 100%;
    height: calc(100% - 55px);
    background-color: transparent;
}

.white {
    color: white !important;
}

.green-ck {
     color: #21ba45 !important;  
    /* color: #8DC748 !important; */
}

.green-bg {
    background: #8DC748 !important;

     background-color: #8DC748 !important; 
    /* background: #21ba45 !important; */
    /* background-color: #21ba45 !important; */
}

.green-text {
    color: #21ba45 !important;
}

.buttons-block {
    margin-top: 35px;
}

.ui.huge.header {
    min-height: 1em;
    font-size: 4em;
}


#alertArea {
    position: fixed;
    right: 15px;
    bottom: 14px;
    z-index: 100;
    overflow-y: auto;
    padding-top: 15px;
    max-width: 400px;
    max-height: 100%;
    background-color: transparent;
}

.ui.bulleted.list .list > .item:before,
.ui.bulleted.list > .item:before,
ul.ui.list li:before {
    display: none;
}

.ui.message > .close.icon {
    color: red;
}

.ui.message p {
    margin-top: 0;

    padding-right: 20px;
}

.main {
    height: calc(100% - 65px);
}

.segment-100 {
    height: 100%;
}

.main .row {
    padding-right: 15px !important;

    padding-left: 15px !important;
}

.menu {
    margin-bottom: 14px !important;
}

.bordered {
    box-shadow: 0 1px 1px 0 rgba(34, 36, 38, .12), 0 1px 1px 0 rgba(34, 36, 38, .15) !important;
}

.doctors-list {
    overflow: hidden;
    height: 100%;
    border: 1px solid #d4d4d5!important;
/* background-color: #F1F1F1!important; */

    /* padding: 0 !important;
    padding-right: 5px !important; */
}

.doctors-list h5 {
    /* height: auto !important; */
    margin-right: -10px !important;

    border-bottom: 2px solid #21ba45!important;
}

.doctors-list ul {
    /* margin-right: -14px!important; */
    overflow-x: hidden;
    overflow-y: auto;
    padding-left: 1rem;
    height: calc(100% - 63px);
}

.doctors-list div {
    overflow-x: hidden;
    overflow-y: auto;

    height: calc(100% - 43px);
}

.ui.menu.fluid,
.ui.vertical.menu.fluid {
    /* width: calc(100% - 14px)!important; */
}

.ui.grid > .row > .stretched.column > *,
.ui.grid > .stretched.column:not(.row) > *,
.ui.grid > .stretched.row > .column > *,
.ui.stretched.grid > .column > *,
.ui.stretched.grid > .row > .column > * {
    height: 100%;
   border: none;
}

.history-block h5,
.user-block h5 {
    height: auto !important;
}

.history-block {
    /* padding-right:  15px !important; */
}

.history-block__history {
    height: 100%;
    font-size: 0.8rem;
    -webkit-margin-after:  0.1em;
            margin-block-end:  0.1em;
}

.history-block__history p {
    font-size: 0.9rem;
    -webkit-margin-after:  0.3em;
            margin-block-end:  0.3em;
}

.ui.structured.celled.table tr td,
.ui.structured.celled.table tr th {
    border-right: none;
/*     border-left: none; */
}
.ui.table {
   border-right: none;
    border-left: none;  
}
.user-block, .history {
    display: flex;
    flex-direction: column;

    padding: 15px;

    align-items: stretch;
}
.history {
    padding-left: 0;
}
.user-block div, .history div{
    height: calc(50% - 5px);
}

.user-block .segment {
    height: calc(100% - 40px);
}

.user-block .segment p {
    font-size: 1rem;
    -webkit-margin-after:  0.3em;
            margin-block-end:  0.3em;
}
/* ------------------ */
.horizontal-menu {
 display: flex;
    flex-direction: row;
justify-content: space-between;
  background-color: white;

  border-radius: .28571429rem .28571429rem 0 0;
  padding: .78571429rem 1rem;
    margin-left: -1px;
    margin-right: -1px;
  border: 1px solid #d4d4d5;

  font-size: 1rem;
      font-weight: 700;
    line-height: 1.28571429em;
}

.horizontal-menu h5{
    border: none;
    margin: 0;
    padding: 0;
}

/* ============= */

.ui.piled.segments p {
    z-index: 10;
}

.ui.piled.segment:after,
.ui.piled.segments:after {
    z-index: -1;
    -webkit-transform: rotate(-1.7deg);
    transform: rotate(-1.7deg);
}

.ui.piled.segment:before,
.ui.piled.segments:before {
    z-index: -2;
    -webkit-transform: rotate(1.7deg);
    transform: rotate(1.7deg);
}

.ui.table th,
.ui.table td {
    padding: 0.3em 0.5em !important;
}

.ui.table td {
    font-size: 0.8rem;
}

.ui.button>.icon:not(.button) {
    opacity: 1;
}

.table-wrap{
    /* max-height: calc(50% - 42px);  */
    height: calc(100% - 42px)!important;
    overflow-y: auto;
     background-color: white;
      border: 1px solid #d4d4d5;
       border-top: 2px solid #21ba45!important;
}
/*  */
.three-col {
    height: 100%;  
    padding: 0!important;
}
.three-col__group {
    height: 100%;
    padding:15px;
    background-color: #F1F1F1!important;
    border-right: none;
    border-radius-right: none;

}
.column, .segments {
    border-radius: 0!important;;
    border: none!important;;
    box-shadow: none!important;;
}
/*  */

@media only screen and (max-width: 767px) {
    body {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%; 
    width: 100%;  
    }

    .history {
        padding-left: 15px;
    }

    .column {
        height: auto;
        min-height: 100px;
    }

}

.user-block {
    border-left: 1px solid #d4d4d5!important;
    border-radius: 1rem;
}

#tablet-editor-modal input {

}